volumes/db/data
volumes/storage
.env
.env.copy
.env.local
.env.*.local
test.http
docker-compose.override.yml
node_modules
.next
*.tsbuildinfo
supabase/.temp
.env.copy
.idea
.env.old
.env.dev
.trigger/

# fichier d'env de dev (contient des secrets) — voir env.dev manquant ? cf .env.example
env.dev
